.proyectos-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 10rem;
  background-color: #0d0d0d;
  color: white;
  gap: 4rem;

  &__imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 70%;
      max-height: 50vh;
      object-fit: contain;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 255, 136, 0.2);
      opacity: 0;
      animation: fadeIn 0.5s ease-in-out forwards;
    }
  }


  &__lista {
    flex: 1;
    h3 {
      font-size: rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #aaa;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 2rem;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      position: relative;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .numero {
        font-weight: bold;
        margin-right: 0.5rem;
        color: #999;
      }

      .nombre {
        font-size: 2.2rem;
        font-weight: 700;
        color: #666;
        transition: color 0.5s ease-in-out;
      }

      .stack {
        font-size: 1rem;
        color: #777;
        margin-top: 0.25rem;
        transition: color 0.5s ease-in-out;
      }

      &.activo .nombre,
      &:hover .nombre {
        color: #00ff88;
      }

      &.activo .stack,
      &:hover .stack {
        color: #00ff88;
      }

      &:hover {
        border-bottom: 1px solid #00ff88;
      }
    }
  }
  @keyframes fadeIn {
    to{
      opacity: 1;
    }
  }
}
